; ADRSERV - adres serwera 
; USRNAME - nazwę użytkownika
; PSSWRD - hasło
; PORT - port (domyślna wartość dla POP3: port 110) Bez ssl
; REFTIME - czas [s] co ile sprawdzana ma być poczta, jezeli bedzie mniejszy od 5 to zostanie ustawiony domyslny (5)
; format - VARIABLE VALUE
; kazda komenda dostala podloge '_' aby wyrowanc dlugosc komendy do 7 znakow
ADRSERV pop3.wp.pl
USRNAME grouplong0@wp.pl
PSSWRD_ haslo1234
PORT___ 110
REFTIME 5
